@charset "utf-8";

body{
    font-family: 'Noto Sans JP',"Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
    background-color: #e5e5e5;
    height: 100vh;

    background-image:
    repeating-linear-gradient(to bottom,
      transparent 25px,
      rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
      transparent 27px,  transparent 51px, 
      rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
      transparent 53px,  transparent 77px, 
      rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
      transparent 79px,  transparent 103px, 
      rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
      transparent 105px,  transparent 129px, 
      rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px),
 
    repeating-linear-gradient(to right,
      transparent 25px,
      rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
      transparent 27px,  transparent 51px, 
      rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
      transparent 53px,  transparent 77px, 
      rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
      transparent 79px,  transparent 103px, 
      rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
      transparent 105px,  transparent 129px, 
      rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px);
}






/*header*/


.header{
    background-color: #ed86b3;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1 >a{
    text-decoration: none;
    color: #fff;
    font-weight: normal;
    border-bottom: 2px solid transparent;
    transition: border-color .25s;
}
.header h1>a:hover{
    border-bottom: 2px solid #fff;
}

.menu{
    display: flex;
}

.item{
    padding: 5px;
}
.item a{
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: border-color .25s;
}
.item a:hover{
    border-bottom: 2px solid #fff;
}

@media screen and (max-width: 768px){
    .header{
        padding: 0 5px;
    }
    .header h1{
        font-size: 18px;
    }
    .item{
        font-size: 12px;
    }
}





/*section1*/


#h1{
    width: 480px;
    max-width: 80%;
    border-bottom: 3px double #ed86b3;
    text-align: center;
    margin: auto;
    padding: 30px 0 0 0;
}

.string{
    font-size: 20px;
    text-align: center;
    margin: 30px;
}
.sub{
    font-size: 15px;
    border-bottom: #333 1px solid;
}


@media screen and (max-width:768px){
    #h1{
        font-size: 25px;
    }
    .string{
        font-size: 15px;
    }
}




/*sort*/

.sortbox{
    font-size:25px;
    border: 3px solid #ed86b3;
    text-align: center;
    width: 480px;
    max-width: 80%;
    margin: auto;
    margin-bottom: 100px;
    background-color: #fff;
}

.number{
    font-weight: bold;
    padding: 10px;
    background-color: #ed86b3;
    color: #fff;
}
.number > span{
    border-top: #fff solid 1px;
    border-bottom: #fff solid 1px;
}


.memberbox{
    display: flex;
    justify-content: center;
    border-bottom: #ed86b3 solid 3px;
    border-top: #ed86b3 solid 3px;
}

.member{
    width: 100%;
    padding: 10px;
    padding-bottom: 20px;
    text-align: center;
}



.group{
    font-size: 15px;
    margin-bottom: 10px;
}
img{
    max-width: 100%;
}

.draw{
    padding: 20px;
    font-weight: bold;
}




/*footer*/
footer{
    text-align: center;
    background-color: #333;
    color: #fff;
  }












